/* 指示 */
@-webkit-keyframes tip {
    0% {transform: scale(1)  }
    33% {  transform: scale(1.2)  }
    66% {  transform: scale(1.4)  }
    100% {  transform: scale(1)  }
}
.tip{
    z-index: 9;
    animation-name: tip;
    -webkit-animation-name: tip;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

/* 按钮抖动 */
@-webkit-keyframes btndoudong {
    0% {transform: scale(1)  }
    50% {  transform: scale(1.2)  }
    100% {  transform: scale(1.3)  }
}
.btndoudong{
    z-index: 9;
    animation-name: btndoudong;
    -webkit-animation-name: btndoudong;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}