.cankao .fanhui .yinyue .shenyin{
    z-index: 99;
}

/* 按钮抖动 */
@-webkit-keyframes btndoudong {
    0% {transform: scale(1)  }
    50% {  transform: scale(1.2)  }
    100% {  transform: scale(1.3)  }
}
.scene-anlibox .btndoudong{
    animation:btndoudong 0.5s linear 2 ;
    -webkit-animation:btndoudong 0.5s linear 2 ;
}