/* 指示 */
@-webkit-keyframes tip {
    0% {transform: scale(1)  }
    33% {  transform: scale(1.2)  }
    66% {  transform: scale(1.4)  }
    100% {  transform: scale(1)  }
}
.tip{
    z-index: 9;
    animation:tip 2s linear infinite ;
    -webkit-animation:tip 2s linear infinite ;
}

/* 按钮抖动 */
@-webkit-keyframes btndoudong {
    0% {transform: scale(1)  }
    100% {  transform: scale(1.3)  }
}
.btndoudong{
    z-index: 9;
    animation:btndoudong 0.5s linear 1 ;
    -webkit-animation:btndoudong 0.5s linear 1 ;
}