.scene.scene-changfang .true{
    display: none;
}
.scene.scene-changfang .false{
    display: none;
}
.scene.scene-changfang .gongren{
    z-index: 50;
}
.scene.scene-changfang .next{
    display: none;
}
