
.scene.scene-changfang .gongren{
    z-index: 50;
}
.scene-changfang.true .wenti,.scene-changfang.true .false,.scene-changfang.true .strue,.scene-changfang.true .sfalse{
    display: none !important;
}

.scene-changfang.show.true .true,.scene-changfang.show.true .changjing{
    display: block !important;
}
