.scene.scene-huiyi .true{
    display: none;
}
.scene.scene-huiyi .false{
    display: none;
}
.scene.scene-huiyi .next{
    display: none;
}

.scene-huiyi.true .wenti,.scene-huiyi.true .false,.scene-huiyi.true .strue,.scene-huiyi.true .sfalse{
    display: none;
}

.scene-huiyi.true.show .true{
    display: block;
}

/* 问号抖动 */
@-webkit-keyframes wenhaodoudong{
    0%{-webkit-transform:translateX(0) translateY(0)}
    30%{-webkit-transform:translateX(0) translateY(2vh)}
    40%{-webkit-transform:translateX(0) translateY(0)}
}
.wenhaodoudong{
    animation:wenhaodoudong 2s linear 5s infinite ;
    -webkit-animation:wenhaodoudong 2s linear -5s infinite;
}

/* 按钮抖动 */
@-webkit-keyframes btndoudong {
    0% {transform: scale(1)  }
    50% {  transform: scale(1.2)  }
    100% {  transform: scale(1.3)  }
}
.scene-huiyi .btndoudong{
    animation-name: btndoudong;
    -webkit-animation-name: btndoudong;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}