/* 首页title抖动 */
@keyframes title{
    0%{transform:translateX(0) translateY(0)}
    5%{transform:translateX(150px) translateY(-150px)}
    7%{transform:translateX(-300px) translateY(150px)}
    9%{transform:translateX(0) translateY(0)}
    100%{transform:translateX(0) translateY(0)}
}
@-webkit-keyframes title{
    0%{-webkit-transform:translateX(0) translateY(0)}
    5%{-webkit-transform:translateX(150px) translateY(-150px)}
    7%{-webkit-transform:translateX(-300px) translateY(150px)}
    9%{-webkit-transform:translateX(0) translateY(0)}
    100%{-webkit-transform:translateX(0) translateY(0)}
}
@-moz-keyframes title{
    0%{-moz-transform:translateX(0) translateY(0)}
    5%{-moz-transform:translateX(150px) translateY(-150px)}
    7%{-moz-transform:translateX(-300px) translateY(150px)}
    9%{-moz-transform:translateX(0) translateY(0)}
    100%{-moz-transform:translateX(0) translateY(0)}
}
@-o-keyframes title{
    0%{-o-transform:translateX(0) translateY(0)}
    5%{-o-transform:translateX(150px) translateY(-150px)}
    7%{-o-transform:translateX(-300px) translateY(150px)}
    9%{-o-transform:translateX(0) translateY(0)}
    100%{-o-transform:translateX(0) translateY(0)}
}

@keyframes _title{
    0%{transform:translateX(0) translateY(0)}
    5%{transform:translateX(100px) translateY(-100px)}
    7%{transform:translateX(-200px) translateY(100px)}
    9%{transform:translateX(0) translateY(0)}
    100%{transform:translateX(0) translateY(0)}
}
@-webkit-keyframes _title{
    0%{-webkit-transform:translateX(0) translateY(0)}
    5%{-webkit-transform:translateX(100px) translateY(-100px)}
    7%{-webkit-transform:translateX(-200px) translateY(100px)}
    9%{-webkit-transform:translateX(0) translateY(0)}
    100%{-webkit-transform:translateX(0) translateY(0)}
}
@-moz-keyframes _title{
    0%{-moz-transform:translateX(0) translateY(0)}
    5%{-moz-transform:translateX(100px) translateY(-100px)}
    7%{-moz-transform:translateX(-200px) translateY(100px)}
    9%{-moz-transform:translateX(0) translateY(0)}
    100%{-moz-transform:translateX(0) translateY(0)}
}
@-o-keyframes _title{
    0%{-o-transform:translateX(0) translateY(0)}
    5%{-o-transform:translateX(100px) translateY(-100px)}
    7%{-o-transform:translateX(-200px) translateY(100px)}
    9%{-o-transform:translateX(0) translateY(0)}
    100%{-o-transform:translateX(0) translateY(0)}
}

.scene-index .title{
    animation :title 2s linear infinite;
    -moz-animation :title 2s linear infinite;
    -wekit-animation :title 2s linear infinite;
    -o-animation :title 2s linear infinite;
}
.phone .scene-index .title{
    animation :_title 2s linear infinite;
    -moz-animation :_title 2s linear infinite;
    -wekit-animation :_title 2s linear infinite;
    -o-animation :_title 2s linear infinite;
}

/* 按钮抖动 */
@keyframes btndoudong {
    0% {transform: scale(1)  }
    50% {  transform: scale(1.2)  }
    100% {  transform: scale(1.3)  }
}
@-webkit-keyframes btndoudong {
    0% {-webkit-transform: scale(1)  }
    50% {  -webkit-transform: scale(1.2)  }
    100% {  -webkit-transform: scale(1.3)  }
}
@-moz-keyframes btndoudong {
    0% { -moz-transform: scale(1)  }
    50% {  -moz-transform: scale(1.2)  }
    100% {  -moz-transform: scale(1.3)  }
}
@-o-keyframes btndoudong {
    0% { -o-transform: scale(1)  }
    50% {  -o-transform: scale(1.2)  }
    100% {  -o-transform: scale(1.3)  }
}
.scene-index .btndoudong{
    z-index: 9;
    animation:btndoudong 0.5s linear 1 ;
    -webkit-animation:btndoudong 0.5s 1 ;
    -moz-animation:btndoudong 0.5s 1 ;
    -o-animation:btndoudong 0.5s 1 ;
}


/**************** windows style **************/
.scene-index .qidong,.scene-index .chakan{
    cursor: pointer;
}