.scene.scene-jingqu .true{
    display: none;
}

.scene.scene-jingqu .next{
    display: none;
}

.scene-jingqu.true .wenti,.scene-jingqu.true .false,.scene-jingqu.true .strue,.scene-jingqu.true .sfalse{
    display: none;
}

.scene-jingqu.true.show .true{
    display: block;
}