/* 大圆缩放 */
@-webkit-keyframes load2 {
    0% {transform:  rotate(0deg) }
    33% {  transform:  rotate(120deg) }
    66% {  transform:  rotate(240deg) }
    100% {  transform:  rotate(360deg) }
}
.load2{
    animation-name: load2;
    -webkit-animation-name: load2;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
/* 粗线拉伸 */
@-webkit-keyframes load4 {
    0% {transform: scaleX(0.1) }
    100% {  transform: scaleX(1) }
}
.load4{
    animation-name: load4;
    -webkit-animation-name: load4;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    transform-origin: 0;
}
.load3 {
    transform-origin: 8% 50%;
}
.baifenbi a{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}