/* 大圆缩放 */
@keyframes load2 {
    0% {transform:  rotate(0deg) }
    33% {  transform:  rotate(120deg) }
    66% {  transform:  rotate(240deg) }
    100% {  transform:  rotate(360deg) }
}
@-webkit-keyframes load2 {
    0% { -webkit-transform:  rotate(0deg) }
    33% {  -webkit-transform:  rotate(120deg) }
    66% {  -webkit-transform:  rotate(240deg) }
    100% {  -webkit-transform:  rotate(360deg) }
}
@-moz-keyframes load2 {
    0% { -moz-transform:  rotate(0deg) }
    33% {  -moz-transform:  rotate(120deg) }
    66% {  -moz-transform:  rotate(240deg) }
    100% {  -moz-transform:  rotate(360deg) }
}
@-o-keyframes load2 {
    0% { -o-transform:  rotate(0deg) }
    33% {  -o-transform:  rotate(120deg) }
    66% {  -o-transform:  rotate(240deg) }
    100% {  -o-transform:  rotate(360deg) }
}
.load2{
    animation: load2 1s .3s linear infinite;
    -moz-animation: load2 1s .3s linear infinite;
    -webkit-animation: load2 1s .3s linear infinite;
    -o-animation: load2 1s .3s linear infinite;
}
/* 粗线拉伸 */
/*
@-webkit-keyframes load4 {
    50% {  transform: scaleX(0) }
}
.load4{
    transform-origin: 0 50%;
    animation:load4 1s linear infinite ;
    -webkit-animation:load4 1s linear infinite ;
}*/
.load3 {
    transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
}
.baifenbi a{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
}