/* 风车旋转 */
@-webkit-keyframes fengche{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes fengche{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes fengche{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
}
@-o-keyframes fengche{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
}
.fengche{
    animation:fengche 3.5s linear 0s infinite ;
    -webkit-animation:fengche 3.5s linear 0s infinite ;
    transform-origin: 66% 50%;
}

/* 云飘动 */
@-webkit-keyframes yun{
    from{-webkit-transform:translateX(0)}
    to{-webkit-transform:translateX(500px)}
}
@-moz-keyframes fengche{
    from{-moz-transform:translateX(0)}
    to{-moz-transform:translateX(500px)}
}
@-ms-keyframes fengche{
    from{-ms-transform:translateX(0)}
    to{-ms-transform:translateX(500px)}
}
@-o-keyframes fengche{
    from{-o-transform:translateX(0)}
    to{-o-transform:translateX(500px)}
}
.yun{
    animation:yun 55.5s linear 0s infinite ;
    -webkit-animation:yun 55.5s linear 0s infinite;
}
.yun1{
    animation-delay: 0s;
}
.yun2{
    animation-delay: 10s;
}
.yun3{
    animation-delay: 20s;
}
.yun4{
    animation-delay: 30s;
}

/* 星星闪烁 */
@-webkit-keyframes star {
    0% {  transform: scale(1)  }
    33% {  transform: scale(.2)  }
    66% {  transform: scale(1.2)  }
    100% {  transform: scale(1)  }
}
.star{
    animation-name: star;
    -webkit-animation-name: star;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}
/* 地标闪烁 */
@-webkit-keyframes dibiao {
    0% {transform: scale(1)  }
    33% {  transform: scale(.9)  }
    66% {  transform: scale(1.1)  }
    100% {  transform: scale(1)  }
}
.dibiao{
    animation-name: dibiao;
    -webkit-animation-name: dibiao;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

/* 大飞机飞动 */
@-webkit-keyframes dafeiji {
    0% { transform: scale(.1) }
    20% { transform: scale(.2)  }
    40% { transform: scale(.5) }
    60% { transform: scale(.7) }
    80% { transform: scale(1) }
    100% { transform: scale(1.2) }
}
.dafeiji{
    animation-name: dafeiji;
    -webkit-animation-name: dafeiji;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}