*{ margin:0; padding:0; }
html,body{ height: 100%;overflow: hidden; font-family: 微软雅黑;font-size: 4vh}
/*@media all and (orientation : landscape) {
     这是匹配横屏的状态，横屏时的css代码　
    body { background-color: white; }
}*/

/*@media all and (orientation : portrait) {
  　这是匹配竖屏的状态，竖屏时的css代码　
    html, body { background-color: green;  }
    .scene { display: none !important; }
}*/

body.phone{
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    overflow: visible;
    background: #000;
}
.layer{
    position: absolute;
    background-size: 100% 100% !important;
    display: block;
}

.scene.show .layer.show {
    display: block;
}
.scene {
    position: absolute;
    background-size: 100% 100% !important;
    display: none;
    transition:transform 0.5s;
    -webkit-transition:transform 0.5s;
    -moz-transition:transform 0.5s;
    -o-transition:transform 0.5s;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    z-index: 9;
    width: 100%;
}

.scene.show {
    display: block;
}

.debug .layer{
    border: 1px solid gold;
}
.debug .pos_box{
    background: rgba(255,255,255,0.3);
    color: gold;
    position: absolute;
    z-index: 99999;
    word-break: keep-all;
    padding: 1em;
    border: 1px solid #fff;
}
.debug .auto_create_btn{
    font-size: 4vh;
    z-index: 999999999;
    position: relative;
    padding: 1vh 2vh;
}
.debug .layer.moving{
    border: 1px solid #fff;
}

.btn{
    cursor: pointer;
}

.shengyin{
    display: none;
}
.shengyin.play{
    display: block;
}
.scene .ku,.scene .false,.scene .true,.scene .lingjiang{
    display: none;
}
.scene .prev,.scene .next{
    display: none;
    cursor: pointer;
 }
.strue,.sfalse{
    cursor: pointer;
}

.fenxiangtishi{
    z-index: 1000;
    display: none;
}
/* 隐藏anlibox 奖杯页面 */
.jiangbei,.again,.xuexi,.gonggao,.lingjiang .fanhui,.lingjiang .cankao{
    display: none;
    cursor: pointer;
}
.lingjiang .wenti_box{
    display: none;
 }

/* 显示anlibox 奖杯页面 */
.lingjiang .jiangbei,.lingjiang .again,.lingjiang .xuexi,.lingjiang .gonggao{
    display: block;
}


.yinyue .shenyin{
    z-index: 999;
}
.filter .yinyue{
    background-image: url("../img/yinyue/yinyue_fff.png") !important;
}
.filter .shengyin{
    background-image: url("../img/yinyue/shengyin_fff.png") !important;
}
.scene-yinyue .btn_ok,.scene-yinyue .shuoming_bg,.scene-yinyue .shuoming,
.scene-yinyue .fanhui_to_index,.scene-yinyue .scroll,.scene-yinyue .scroll_index,
.scene-yinyue .chakanxiangqing{
    display: none;
}
.scene-yinyue[type='main'] .btn_ok,.scene-yinyue[type='main'] .shuoming_bg,
.scene-yinyue[type='main'] .shuoming,.scene-yinyue[type='main'] .fanhui_to_index,
.scene-yinyue[type='main'] .scroll,.scene-yinyue[type='main'] .scroll_index,
.scene-yinyue[type='anli'] .scroll,.scene-yinyue[type='anli']  .scroll_index,
.scene-yinyue[type='anli']  .chakanxiangqing,.scene-yinyue[type='anli']  .fanhui_to_index{
    display: block;
}

.weibiao{
    transition: .8s;
    transform: scale(2);
}
.scroll_index{
    background-color: #fff;
    background-color:rgba(255,255,255,0.7);
    border-radius: 50%;
}