*{ margin:0; padding:0; }
html,body{ height: 100%;overflow: hidden; font-family: 微软雅黑;font-size: 4vh}
@media all and (orientation : landscape) {
    /* 这是匹配横屏的状态，横屏时的css代码　*/
    body { background-color: blue; }
}

@media all and (orientation : portrait) {
    /*　这是匹配竖屏的状态，竖屏时的css代码　*/
    html, body { background-color: green;  }
    .scene { display: none !important; }
}

.layer {
    position: absolute;
    background-size: 100% 100% !important;
    display: block;
}
.scene {
    position: absolute;
    background-size: 100% 100% !important;
    display: none;
    transition:transform 0.5s;
    transform-origin: 50% 50%;
    z-index: 9;
}
.scene.show {
    display: block;
}

.debug .layer{
    border: 1px solid gold;
}
.debug .pos_box{
    background: rgba(255,255,255,0.3);
    color: gold;
    position: absolute;
    z-index: 99999;
    word-break: keep-all;
    padding: 1em;
    border: 1px solid #fff;
}