.daantrue{
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform-origin: 40% 0px 0px;
    -webkit-transform-origin: 40% 0px 0px;
    -moz-transform-origin: 40% 0px 0px;
    -o-transform-origin: 40% 0px 0px;
}

.scene-zhongxiaoxue.true .wenti,.scene-zhongxiaoxue.true .false,
.scene-zhongxiaoxue.true .strue,.scene-zhongxiaoxue.true .sfalse,.scene-zhongxiaoxue.show.true .changjing{
    display: none !important;
}

.scene-zhongxiaoxue.show.true .true{
    display: block !important;
}