.scene.scene-zhongxiaoxue .true{
    display: none;
}
.scene.scene-zhongxiaoxue .false{
    display: none;
}
.scene.scene-zhongxiaoxue .next{
    display: none;
}
.daantrue{
    transform: scale(0.85);
    transform-origin: 40% 0px 0px;
}

.scene-zhongxiaoxue.true .wenti,.scene-zhongxiaoxue.true .false,.scene-zhongxiaoxue.true .strue,.scene-zhongxiaoxue.true .sfalse{
    display: none;
}

.scene-zhongxiaoxue.show.true .true,.scene-zhongxiaoxue.show.true .changjing{
    display: block;
}